@{
    ViewData["Title"] = "Вход";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>
<form method="post" class="text-center">
    <div class="mb-3">
        <label>Логин</label><br/>
        <input class="form-control" type="text" asp-for="login" name="login"/>
        <div>
            <span asp-validation-for="login" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-4">
        <label>Пароль</label><br/>
        <input class="form-control w-100" type="password" asp-for="password" name="Password"/>
        <div>
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Войти"/>
</form>